.root {


    -fx-font-family: "Bitter Pro Light";

}

.background {
    -fx-background-radius: 10;
    -fx--fx-border-radius: 10;
    -fx-background-color: #113;
}

.label {
    -fx-font-family: "Bitter Pro Light";
    -fx-text-fill: #fff;

}

.button {
    -fx-font-family: "Bitter Pro Light";
    -fx-background-radius: 3;
    -fx-background-color: #335;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #77f;
}

.button :armed {
    -fx-border-insets: 0;
}

.tooltip {
    -fx-background-radius: 0 6 6 6;
    -fx-opacity: 70%;
    -fx-font-size: 15;
    -fx-background-color: #000;

}

.control-pane {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-insets: 3;
    -fx-background-insets: 3;
    -fx-background-color: #224;
    -fx-border-color: #77f;
}

.detail-area {
    -fx-background-color: #000;
    -fx-text-fill: #88f;
}

.icon {
    -fx-background-color: #fff;
}

.combo-box {
    -fx-background-color: #335;
    -fx-text-fill: #fff;
}

.combo-box :hover {
    -fx-background-color: #77f;
}

.combo-box .combo-box-popup .list-view {
    -fx-background-color: #446;

}

.combo-box .combo-box-popup .list-view .list-cell {
    -fx-text-fill: #88f;

}

.table-view {
    -fx-background-color: #335;
    ;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #fff;
    -fx-shape: "M104.727552 457.69728l54.30272 0c14.994432 0 27.15136 12.157952 27.15136 27.15136l0 54.303744c0 14.994432-12.156928 27.15136-27.15136 27.15136l-54.30272 0c-14.994432 0-27.15136-12.156928-27.15136-27.15136L77.576192 484.84864C77.576192 469.854208 89.73312 457.69728 104.727552 457.69728zM349.090816 484.84864l570.181632 0c14.994432 0 27.15136 12.157952 27.15136 27.15136s-12.156928 27.152384-27.15136 27.152384l-570.181632 0c-14.994432 0-27.15136-12.157952-27.15136-27.152384S334.097408 484.84864 349.090816 484.84864zM104.727552 674.909184l54.30272 0c14.994432 0 27.15136 12.156928 27.15136 27.152384l0 54.30272c0 14.994432-12.156928 27.15136-27.15136 27.15136l-54.30272 0c-14.994432 0-27.15136-12.156928-27.15136-27.15136l0-54.30272C77.576192 687.066112 89.73312 674.909184 104.727552 674.909184zM349.090816 702.060544l570.181632 0c14.994432 0 27.15136 12.156928 27.15136 27.15136s-12.156928 27.152384-27.15136 27.152384l-570.181632 0c-14.994432 0-27.15136-12.157952-27.15136-27.152384S334.097408 702.060544 349.090816 702.060544zM104.727552 240.485376l54.30272 0c14.994432 0 27.15136 12.157952 27.15136 27.15136l0 54.30272c0 14.994432-12.156928 27.15136-27.15136 27.15136l-54.30272 0c-14.994432 0-27.15136-12.156928-27.15136-27.15136l0-54.30272C77.576192 252.642304 89.73312 240.485376 104.727552 240.485376zM349.090816 267.636736l570.181632 0c14.994432 0 27.15136 12.157952 27.15136 27.15136 0 14.994432-12.156928 27.15136-27.15136 27.15136l-570.181632 0c-14.994432 0-27.15136-12.156928-27.15136-27.15136C321.939456 279.793664 334.097408 267.636736 349.090816 267.636736z";
}